<style type="text/css">
#clear {
  clear:both;
}
#spacer-top {
  height: 24px;
}
#spacer {
  height: 15px;
}
#tt1 {
text-align: left;
font-size: 20px;
line-height: 26px;
padding-bottom: 4px;
color: #3381B9;
}
#pp1 {
color: #000;
text-align: left;
font-size: 14px;
line-height: 18px;
padding-bottom: 4px;
}
#row {
  float: left;
  position: relative;
  border-top: solid 1px #82BC00;
  width: 750px;
}
#flag {
  float: left;
  position: relative;
  width: 40px;
  margin-top: 15px;
  margin-right: 20px;
}
#row-title {
  float: left;
  margin-top: 15px;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  width: 180px;
}
#row-logo {
  float: left;
  margin-top: 15px;
  width: 170px;
  margin-left: 30px;
}
#row-foto {
  float: left;
  margin-top: 5px;
  width: 70px;
  height: 70px;
  margin-left: 30px;
}
#row-contact {
  float: left;
  margin-top: 15px;
  width: 170px;
  margin-left: 15px;
}
#row-desc {
  float: left;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 540px;
  margin-left: 60px;
  color: #7F7F7F;
  text-align: justify;
  font-size: 14px;
  line-height: 17px;
}
#row-link {
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
</style>
<div id="spacer-top"></div>
<div id="tt1">Project consortium:</div>
<div id="pp1">FAST is a consortium of five European institutions from four European Countries:</div>
<div id="spacer"></div>
<div id="clear"></div>
<div id="row">
  <div id="flag"><img src="assets/img/bandera_ned.jpg" width="40" height="26"></div>
  <div id="row-title"><a id="row-link" href="http://www.deltares.nl/en"><span style="font-weight:bold;">Deltares</span></a><br>(PROJECT LEADER)</div>
  <div id="row-logo"><a href="http://www.deltares.nl/en"><img src="assets/img/deltares.png" width="86" height="40"></a></div>
  <div id="row-foto"><img src="assets/img/del.jpg" width="70" height="70"></div>
  <div id="row-contact">
    <span style="font-size:13px;line-height:17px;font-weight:bold;">Mindert de Vries</span><br>
    <span style="font-size:13px;line-height:17px;font-weight:normal;color:#7F7F7F">mindert.devries&#64;deltares.nl</span><br>
    <span style="font-size:13px;line-height:17px;font-weight:normal;color:#7F7F7F">Tel. +31(0)6 2348 0876</span>
  </div>
  <div id="row-desc">Deltares is the Dutch institute for applied research and development on issues related to water and soil management in delta areas. The primary task of Deltares is bringing together science and application.</div>
</div>
<div id="clear"></div>
<div id="row">
  <div id="flag"><img src="assets/img/bandera_uk.jpg" width="40" height="26"></div>
  <div id="row-title"><a id="row-link" href="http://www.cam.ac.uk/"><span style="font-weight:bold;">UCam</span></a><br>University of Cambridge</div>
  <div id="row-logo"><a href="http://www.cam.ac.uk/"><img src="assets/img/ucambridge.png" width="117" height="24"></a></div>
  <div id="row-foto"><img src="assets/img/eng.jpg" width="70" height="70"></div>
  <div id="row-contact">
    <span style="font-size:13px;line-height:17px;font-weight:bold;">Iris M&ouml;ller</span><br>
    <span style="font-size:13px;line-height:17px;font-weight:normal;color:#7F7F7F">iris.moeller&#64;geog.cam.ac.uk</span><br>
    <span style="font-size:13px;line-height:17px;font-weight:normal;color:#7F7F7F">Tel. +44 (0)1223 333353</span>
  </div>
  <div id="row-desc">The Cambridge Coastal Research Unit (CCRU), University of Cambridge, carries out fundamental research on coastal, estuarine and nearshore processes, landforms and ecosystems, with a particular focus on flood and erosion risk reduction in the coastal zone.</div>
</div>
<div id="clear"></div>
<div id="row">
  <div id="flag"><img src="assets/img/banderarum.jpg" width="40" height="26"></div>
  <div id="row-title"><a id="row-link" href="http://www.geoecomar.ro/"><span style="font-weight:bold;">GeoEcoMar</span></a><br>Natinal Institute for Marine Geology and Geo-Ecology</div>
  <div id="row-logo"><a href="http://www.geoecomar.ro/"><img src="assets/img/logo_geoecomar.png" width="105" height="64"></a></div>
  <div id="row-foto"><img src="assets/img/rom.jpg" width="70" height="70"></div>
  <div id="row-contact">
    <span style="font-size:13px;line-height:17px;font-weight:bold;">Adrian Stanica</span><br>
    <span style="font-size:13px;line-height:17px;font-weight:normal;color:#7F7F7F">astanica&#64;geoecomar.ro</span><br>
    <span style="font-size:13px;line-height:17px;font-weight:normal;color:#7F7F7F">Tel. +40 21 2094986</span>
  </div>
  <div id="row-desc">GeoEcoMar is a Romanian Research Institute with excellent expertise in geology, geoecology and geophysics, focusing on the Danube – Danube Delta – Black Sea macrosystem in particular and aquatic environments in general.</div>
</div>
<div id="clear"></div>
<div id="row">
  <div id="flag"><img src="assets/img/bandera_ned.jpg" width="40" height="26"></div>
  <div id="row-title"><a id="row-link" href="http://www.nioz.nl/"><span style="font-weight:bold;">NIOZ</span></a><br>Royal Netherland Institute for Sea Research</div>
  <div id="row-logo"><a href="http://www.nioz.nl/"><img src="assets/img/royal.png" width="122" height="41"></a></div>
  <div id="row-foto"><img src="assets/img/ned.jpg" width="69" height="71"></div>
  <div id="row-contact">
    <span style="font-size:13px;line-height:17px;font-weight:bold;">Daphne van der Wal</span><br>
    <span style="font-size:13px;line-height:17px;font-weight:normal;color:#7F7F7F">daphne.van.der.Wal&#64;nioz.nl</span><br>
    <span style="font-size:13px;line-height:17px;font-weight:normal;color:#7F7F7F">Tel. +31(0)6 2348 0876</span>
  </div>
  <div id="row-desc">Royal Netherlands Institute for Sea Research, NIOZ, is the Dutch national marine science institute. Our mission is to gain and communicate scientific knowledge on the world's oceans, seas and estuaries for the understanding and sustainability of our planet. NIOZ facilitates and supports fundamental as well as applied marine research and education in the Netherlands and Europe.</div>
</div>
<div id="clear"></div>
<div id="row">
  <div id="flag"><img src="assets/img/bandera_esp.jpg" width="40" height="26"></div>
  <div id="row-title"><a id="row-link" href="http://www.uca.es/"><span style="font-weight:bold;">UCA</span></a><br>
    Universidad de C&aacute;diz</div>
  <div id="row-logo"><a href="http://www.uca.es/"><img src="assets/img/uca.png" width="130" height="27"></a></div>
  <div id="row-foto"><img src="assets/img/spain.jpg" width="70" height="70"></div>
  <div id="row-contact">
    <span style="font-size:13px;line-height:17px;font-weight:bold;">Gloria Peralta</span><br>
    <span style="font-size:13px;line-height:17px;font-weight:normal;color:#7F7F7F">gloria.peralta&#64;uca.es</span><br>
    <span style="font-size:13px;line-height:17px;font-weight:normal;color:#7F7F7F">Tel. +34 956 016 428</span>
  </div>
  <div id="row-desc">UCA is the leader of the “International Campus of Excellence in Marine Science”(CEI·MAR), bringing together universities, research institutes, companies and social agents in Spain, Portugal and Morocco, forming a collaboration platform between scientists and end-users.</div>
</div>
<div id="clear"></div>
<div id="row"></div>
<div id="clear"></div>
<div id="spacer"></div>
<div id="spacer"></div>